a.btn {
    border-radius: 10px;
    background-color: $color-blue;
    box-shadow: 0 1px 5px 0 rgba(31, 111, 252, 0.36);
    color: $color-white;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    margin-right: 5px;
    margin-bottom: 15px;

    &:last-of-type {
        margin-right: 0;
    }

    &__twitter {
        font-size: 0;
        height: 40px;
        line-height: 40px;
        background-image: url('../img/twitter.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 14px) center;
        background-size: 17px;
        padding-right: 27px;

        @include desktop() {
            font-size: 14px;
            padding-right: 35px;
        }
    }
}

section.buttons {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;

    .btn {
        width: calc(100% - 40px);

        @include tablet() {
            width: auto;
        }
    }
}
